<!-- Portfolio Grid Section -->
<div class="container py-4">
    <div class='row'>
        <div class="col py-4 py-md-5">
            <p class="h4 text-recycle">
                ADVISORY BOARD
                <b class="">
                    
                </b>
                </p>
        </div>
    </div>

    {% assign advboard = site.advboard %}

    <div class="row d-flex justify-content-start text-center">

            {% for person in advboard %}
            
            <div class="col col-12 col-sm-6 col-md-4">
                <div class="row">
                    <div class="col d-flex align-items-center justify-content-center">
                        {% assign image = {{person.img}} %}
                        <a href="{{ person.url | prepend: site.baseurl}}">
                        <img id="img-person" class="img-person" src="{{ person.img | prepend: site.baseurl }}"  class="img-fluid profile-img shadow rounded pt-3 px-lg-0" alt="image">
                    </a>
                    </div>                
                </div>
                <div class="row">
                    <span class="pt-3">
                        <b>
                        {{person.name}}
                        </b>  
                    </span>
                </div>
                <div class="row">
                    <span class="py-2">
                        {{ person.institution}}
                    </span>
                </div>
            </div>
            
            
            {% endfor %}
    </div>
</div>