<section id="contact">
        <div class="container pt-4">
            <div class="row py-4 py-md-5">
                <div class="col h4 text-recycle">
                    CONTACT
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row h5 pb-2">
                        <b>
                            University of Minho
                        </b>
                    </div>
                    <div class="row">
                        <p>Azurém, 4800-058 Guimarães, Portugal</p>
                    </div>
                    <div class="row pb-5">
                        <a href="mailto:recyclebim.eu@gmail.com " class="link-grayish">
                            recyclebim.eu@gmail.com 
                        </a>
                    </div>
                </div>
            </div>
            <div class="row align-right">
                <h3>Newsletter signup</h3>
                <div class="col-4 align-right p-3"> 
            
                    <a href="" alt="">
                       <!-- parte a alterar  <button class="signup"> </button> -->
                        <input type="text" name="signup" id="input" class="input" placeholder="email">
                    </a>
            <!--<div class="signupFrm">
                <form action="" class="form">
                    <h1 class="title">Sign up</h1>
                    
                    <div class="inputContainer">
                        <input type="text" class="input" placeholder="a">
                        <label for="" class="label">Email</label>
                    </div>    
            </div>   -->         
        </div>
    </section>
