
    <!-- Header -->
    <header class="container-fluid border-bottom">
        <div class="row">
            <div class="col order-last order-md-first align-self-center px-5 py-5">
                <div class="row h5 text-black-50 mb-0">
                    <p class="mb-0">
                        <b>
                            RECYCLEBIM
                        </b>
                    </p>
                </div>
                <div class="row py-2 text-uppercase lh-base text-black-75">
                    <p>Integrated Planning and Recording Circularity of
                            Construction Materials through Digital Modelling</p>
                </div>
                <div class="row">
                    <div class="d-grid gap-2 d-md-block py-2 py-md-3 py-md-0">
                        <a href="#abstract" class="btn btn-outline-success">Know More</a>
                    </div>
                </div>

            </div>
            <body>    <!-- parte a alterar -->
            <div class="col-12 order-first order-md-last col-md-7 px-0">
                <div class="bg-image hover-zoom img-bg-header">
                    <img id="img-header" class="img-header" src="{{ '/img/nerea-marti-sesarino-unsplash3.jpg' | prepend: site.baseurl }}" height=700 alt="">         
                        <button class="btn-header"> <a href="https://docs.google.com/document/d/18LPxbVIiX9jIRx_pOyAqoTAkZxgQVGnt0w8nKz1WgAk/edit"></a> </button></a>
                </div>
            </div>
            </body>
        </div>
    </header>

