<div class="container py-4">
    <div class="row">
        <img id="img-new" class="img-new" img src="{{ page.img | prepend:site.baseurl }}" alt="" class="img-fluid px-lg-5">
    </div>
    <div class="row">
        <p class="py-2 h3 text-recycle ">
            {{ page.title}}
        </p>
    </div>
    <div class="row text-black-50">
        <div class="col d-flex">
            <i class="fa-regular fa-calendar-days"></i>
            <p class="ps-2">
                {{page.date | date: '%Y, %b %d'}}
            </p>
        </div>  
    </div>
    <div class="row">
        <div class="col">
            {{content | markdownify}}
        </div>
    </div>
</div>

             