<section id="contact">
        <div class="container pt-4">
            <div class="row py-4 py-md-5">
                <div class="col h4 text-recycle">
                    Publications
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="row h5">
                        <h5>Theses and Dissertations</h5>                               
                    </div>
        
                        <div class="row link-grayish">
                            <a href="https://repositorium.sdum.uminho.pt/handle/1822/81121 " class="link-grayish pubtitle">'Integrated planning and recording circularity of construction materials through digital modelling'</a>
                            <p>Kuzminykh. Artur, Azenha. Miguel, Granja. José Luís Duarte (2022)</p>
                    </div>

                    <div class="row link-grayish">
                        <a href="" class="link-grayish pubtitle">'Efficient data management in a BIM-based framework for circularity of products and  materials'</a>
                        <p>Achushankar. Anil, Parente. Manuel, Azenha. Miguel, Granja. José Luís Duarte (2023)</p>
                </div>

                    <div class="row py-4">
                        <div class="col">
                            <div class="row h5">
                                <h5>Journal papers</h5>                               
                            </div>
  
                    <div class="row link-grayish">
                        <p><span class="pubtitle">'Optimal scan planning for surveying large sites with static and mobile mapping systems'</span><br>
                        E. Frías, M. Previtali, L. Díaz-Vilariño, M. Scaioni, H. Lorenzo. (2022).ISPRS Journal of Photogrammetry and Remote Sensing. Vol. 192 pp. 13-32. doi:10.1016/j.isprsjprs.2022.07.025</p>
                    </div>

                    <!--
                        <div class="row link-grayish">
                        <p><span class="pubtitle">'Quantifying recycled construction and demolition waste for use in 3D printed concrete'</span><br>
                            de Villiers WI, Mwongo M, Babafemi AJ, van Zijl GPAG (2023)</p>
                    </div>

                    <div class="row link-grayish">
                        <p><span class="pubtitle">'3D concrete printing opportunities towards circularity – mix design, testing and mechanical performance'</span><br>
                            Van Zijl GPAG, Babafemi AJ, De Villiers WI, Kruger PJ (2023)</p>
                    </div>

                    <div class="row link-grayish">
                        <p><span class="pubtitle">'Fresh and strength properties of 3D printable concrete mixtures utilising a high volume of sustainable alternative binders'</span><br>
                            Colyn M, Babafemi AJ, van Zijl GPAG (2023)</p>
                    </div>
                --> 

                    <div class="row py-4">
                        <div class="col">
                            <div class="row h5">
                                <h5>Conference communications</h5>                               
                            </div>

                            <div class="row link-grayish">
                                <p><span class="pubtitle">'O projeto Europeu RecycleBIM rumo a plataforma integrada de gestão de resíduos da construção'</span><br> 
                                    Azenha, M.; Kuzminykh, A.; Granja J. (2022) In “Seminário Prático Como se fazer uma análise de sustentabilidade com BIM HOJE?”,14th July 2022. E-book of presentations. 176pp. https//doi.org/10.5281/zenodo.6885396 </p>
                            </div>

                            <div class="row link-grayish">
                                <p><span class="pubtitle">'Scan-for-BIM: cost-effective data survey for mobile mapping systems'</span><br> 
                                   L. Díaz-Vilariño (2022). 19th International Conference on Computing in Civil & Building Engineering (ICCCBE, 2022), Cape Town 26-28 October 2022</p>
                            </div>

                            <div class="row link-grayish">
                                <a href= "https://link.springer.com/chapter/10.1007/978-3-031-33211-1_23" class="link-grayish pubtitle">'RecycleBIM Approach Towards Integrated Data Management for Circularity: Proof of Concept in a RC Building'</a>
                                <p>Artur Kuzminykh, Manuel Parente, Vasco Vieira, José Granja & Miguel Azenha (2023). International RILEM Conference on Synergising Expertise towards Sustainability and Robustness of Cement-based Materials and Concrete Structures (SynerCrete’23) Milos Island, Greece 14, 15 & 16 June 2023</p>
                            </div>

                            <div class="row link-grayish">
                                <a href= "" class="link-grayish pubtitle">'RecycleBIM: A framework for the circularity of construction materials through modelling'</a>
                                <p>Manuel Parente, José Granja, Vasco Vieira, Artur Kuzminykh, Veracruz González, Antonio Fernández, Lucia Díaz-Vilariño, Donglin Cao, Neven Ukrainczyk, Luciano Sambataro, Eduardus Koenders, John Babafemi, Wibke de Villiers, Gideon van Zijl, Leslie Petrik, Erik Sandonis and Miguel Azenha (2023) V International Conference Progress of Recycling in the Built Environment, Germany. </p>
                            </div>


                    <div class="row py-4">
                        <div class="col">
                            <div class="row h5">
                                <h5>Webinars</h5>                               
                            </div>
        
                            <div class="row link-grayish">
                                <a href= "https://www.youtube.com/watch?v=4mdNITmS1rc" class="link-grayish pubtitle">'Is 3D Concrete Printing Increasing Construction Quality and Productivity?'</a>
                            <p>Gideon van Zijl and John Babafemi participation on IABSE Webinar</p>
                            </div>

                            <div class="row py-4">
                                <div class="col">
                                    <div class="row h5">
                                        <h5>Lectures and Seminars </h5>                               
                                    </div>
                
                                    
                                    <div class="row link-grayish">
                                        <a href= "" class="link-grayish pubtitle">'Suitability of geopolymer made from waste coal fly ash as replacement for Portland cement concrete'</a>
                                    <p>Petrik, L.(2022) physical and online lecture. Universidade do Minho, Guimarães, Portugal</p>
                                    </div>

                                    <div class="row link-grayish">
                                        <a href= "" class="link-grayish pubtitle">'Integrated planning and recording circularity of construction materials through digital modelling'</a>
                                    <p>Azenha, M. (2022) Seminar of CircularBIM Project. Seville, Spain. 27th May, Palestra por convite de Prof. Pilar Mercader (Uni. Seville)</p>
                                    </div>
                                    
                                    <div class="row link-grayish">
                                        <a href= "" class="link-grayish pubtitle">'BIM - Beyond Design'</a>
                                    <p>RecycleBIM Consortium's UMinho team (2023) Workshop on "Innovation and Digitalization in Construction", in Lisbon, Portugal, 14th June, 2023</p>
                                    </div>

                                    

                                    <div class="row py-4">
                                        <div class="col">
                                            <div class="row h5">
                                                <h5>Books and Book Chapters </h5>                               
                                            </div>

                                            <div class="row link-grayish">
                                                <a href= "" class="link-grayish pubtitle">'Seminário Prático Como se fazer uma análise de sustentabilidade com BIM HOJE?'</a>
                                            <p>Azenha M.; Martins, J.P.; Sibaii, M.; Mateus, R. (2022), E-livro de apresentações. 176pp. https//doi.org/10.5281/zenodo.6885396 </p>
                                            </div>
        
                                           

                </div>
            </div>
                
        </div>
    </section>
