<section id="contact">
        <div class="container pt-4">
            <div class="row py-4 py-md-5">
                <div class="col h4 text-recycle">
                    Publications
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="row h5">
                        <h5>Theses and Dissertations</h5>                               
                    </div>
        
                        <div class="row link-grayish">
                            <a href="https://repositorium.sdum.uminho.pt/handle/1822/81121 " class="link-grayish">'Integrated planning and recording circularity of construction materials through digital modelling'
                            </a>
                            <p>Kuzminykh. Artur, Azenha. Miguel, Granja. José Luís Duarte (2022)</p>
                    </div>

                    <div class="row py-4">
                        <div class="col">
                            <div class="row h5">
                                <h5>Journal papers</h5>                               
                            </div>
  
                    <div class="row link-grayish">
                        <p>'Optimal scan planning for surveying large sites with static and mobile mapping systems'
                           E. Frías, M. Previtali, L. Díaz-Vilariño, M. Scaioni, H. Lorenzo. (2022).ISPRS Journal of Photogrammetry and Remote Sensing. Vol. 192 pp. 13-32. doi:10.1016/j.isprsjprs.2022.07.025</p>
                    </div>

                    <div class="row py-4">
                        <div class="col">
                            <div class="row h5">
                                <h5>Conference communications</h5>                               
                            </div>

                            <div class="row link-grayish">
                                <p>'Scan-for-BIM: cost-effective data survey for mobile mapping systems'
                                   L. Díaz-Vilariño (2022). 19th International Conference on Computing in Civil & Building Engineering (ICCCBE, 2022), Cape Town 26-28 October 2022</p>
                            </div>

                    <div class="row py-4">
                        <div class="col">
                            <div class="row h5">
                                <h5>Webinars</h5>                               
                            </div>
        
                            <div class="row link-grayish">
                                <a href= "https://www.youtube.com/watch?v=4mdNITmS1rc" class="link-grayish">'Is 3D Concrete Printing Increasing Construction Quality and Productivity?'</a>
                            <p>Gideon van Zijl and John Babafemi participation on IABSE Webinar</p>
                            </div>

                </div>
            </div>
                
        </div>
    </section>
