<!-- Portfolio Grid Section -->
<div class="container py-4">
    <div class='row'>
        <div class="col py-4 py-md-5">
            <p class="h4 text-recycle">
                TEAM
                <b class="">
                    
                </b>
                </p>
        </div>
    </div>

    {% assign partners = site.partners | sort: 'part-no'  %}

    <div class="row">
        <p class="pt-2 pb-5 h5 text-recycle">
            Leaders at institutions
        </p>
    </div>
    <div class="row d-flex justify-content-start text-center">

            {% for partner in partners %}

            {% for person in partner.people %}

            {% assign leader = {{person | map: 'leader'}} %}
            {% if leader[1] == 1 %}
            <div class="col col-12 col-sm-6 col-md-4">
                <div class="row">
                    <div class="col d-flex align-items-center justify-content-center">
                        {% assign image = {{person | map: 'img'}} %}
                        <img src="{{ image[1] | prepend: site.baseurl }} " class="img-fluid profile-img shadow rounded" alt=""> 
                    </div>
                </div>
                <div class="row">
                    <span class="pt-3">
                        <b>
                            {{person | map: 'name'}}
                        </b>  
                    </span>
                </div>
                <div class="row">
                    <span class="py-2">
                            {{ partner.name }} 
                    </span>
                </div>
                <div class="row">
                    <span class="pb-4">
                        <a href="mailto:{{person | map: 'email'}}" class="link-grayish">
                            {{person | map: 'email'}}
                        </a>
                    </span> 
                </div>
            </div>
            {% endif %}

            {% endfor %}
            {% endfor %}
    </div>
    <div class="row">
        <p class="py-3 h5 text-recycle">
            Other Team Members
        </p>
    </div>
    <div class="row">
        
        {% for partner in partners %}

        {% for person in partner.people %}

        {% assign leader = {{person | map: 'leader'}} %}
        {% if leader[1] == 1 %}
        {% else %}
        <div class="col col-12 col-xl-4">
            <div class="row">
                <span class="pt-3">
                    <b>
                        {{person | map: 'name'}}
                    </b>  
                </span>
            </div>
            <div class="row">
                <span class="py-2">
                        {{ partner.name }} 
                </span>
            </div>
        </div>
        {% endif %}

        {% endfor %}
        {% endfor %}
    </div>
</div>
