
<!-- Services Section -->
    <section id="news">
        <div class="container pt-4">
            <div class="row h4 text-recycle py-4 py-md-5">
                <div class="col">
                    <p>NEWS</p>
                </div>

            <body class="Signup">
                <form class="signup">
                    <h4>Newsletter Subscription</h4>
                    <input class="input" type="text" placeholder="Name">
                    <input class="input" type="email" placeholder="Email">
                    <button class="input" type="sumit" class="signbutton"> Subscription</button>
                </form>
            </body>

            {% for new in site.news %}

            <div class="row pb-5">
                <div class="col-12 col-md-6 col-lg-4">
                    <a href="{{new.url | prepend: site.baseurl}}">
                        <img class="img-fluid shadow rounded img-news" src="{{ new.img | prepend: site.baseurl}}">
                    </a>
                </div>
                <div class="col">
                    <div class="row pt-3">
                        <a href="{{new.url | prepend: site.baseurl}}" class="post-link h5">
                            {{ new.title | upcase}}
                        </a>
                    </div>
                    <div class="row py-1  text-grayish">
                        <p class="mb-0">
                            {{new.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;  {% capture words %}{{ new.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}
                        </p>
                    </div>
                    <div class="row py-1">
                        <p class="mb-0">
                            {{ new.content | strip_html | truncatewords: 30 }}
                        </p>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </section>