<div class="container py-4">
    <div class="row">
        <div class="col py-4 py-md-5 text-recycle">
            <p class="h4">
                PARTNERS
            </p>
        </div>
    </div>
    <div class="row">
    {% assign partners = site.partners | sort: 'part-no'  %}   
    {% for partner in partners %}
        <div class="col-6 col-md-4 ps-3 d-flex flex-column align-content-between">
            <div class="row partner-box">
                <div class="col d-flex align-self-center">
                    <a href="{{partner.site}}">
                        <img class="img-fluid img-partner" src="{{ partner.img | prepend: site.baseurl }}">
                    </a>
                </div>
            </div>
            <div class="row py-3">
                <a href="{{ partner.site }}" class="m-0 partner-link">
                    <b class="text-break">
                    {{ partner.name }}
                    </b>    
                </a>
                <p class="m-0">
                    {{ partner.country }}
                </p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

